.fruit-card {
  padding: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  background-color: #ffffff;
  margin: 5px;
  cursor: pointer;

  transform: scale(0.5);
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;

  transition: all 0.3s ease-out;

  .fruit-card-image {
    display: flex;
    flex: 1;

    &.fruit {
      background: url(/img/cards.png);
      background-position-x: center;
    }

    &.backed {
      background: url(/img/oclock.png) no-repeat center !important;
      background-size: contain !important;
    }

    &.hire-me {
      background-position-y: -10px;
    }

    &.red-apple {
      background-position-y: -110px;
    }

    &.banana {
      background-position-y: -210px;
    }

    &.peach {
      background-position-y: -310px;
    }

    &.green-lemon {
      background-position-y: -410px;
    }

    &.pomegranate {
      background-position-y: -510px;
    }

    &.apricot {
      background-position-y: -610px;
    }

    &.yellow-lemon {
      background-position-y: -710px;
    }

    &.strawberry {
      background-position-y: -810px;
    }

    &.green-apple {
      background-position-y: -910px;
    }

    &.nectarine {
      background-position-y: -1010px;
    }

    &.green-grape {
      background-position-y: -1110px;
    }

    &.watermelon {
      background-position-y: -1210px;
    }

    &.purple-plum {
      background-position-y: -1310px;
    }

    &.pear {
      background-position-y: -1410px;
    }

    &.red-cherry {
      background-position-y: -1510px;
    }

    &.red-grape {
      background-position-y: -1610px;
    }

    &.mango {
      background-position-y: -1710px;
    }

    &.yellow-cherry {
      background-position-y: -1810px;
    }
  }
}


