.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
.phpunit.result.cache
.idea
public/css/style.css
public/css/bootstrap/bootstrap.css
node_modules
public/components/*
!public/components/.gitkeep