.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
.phpunit.result.cache
.idea
node_modules
public/components/*
!public/components/.gitkeep
node_server/config/index.js
CONTAINER_ALREADY_STARTED_PLACEHOLDER
